<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<h1 align="center"> <%= @community.name.capitalize %> </h1>&nbsp;&nbsp;

	<%= link_to 'Home', users_dashboards_index_path, class: 'btn btn-primary' %>&nbsp;&nbsp;

	<%= link_to 'Profile', edit_user_registration_path(current_user), class: 'btn btn-primary' %>&nbsp;&nbsp;

 	<%= link_to 'Sign Out', destroy_user_session_path, method: "delete", class: 'btn btn-primary' %>&nbsp;&nbsp;
</nav>

<div class="container">
  <div class="sign_up">
	<%= form_with model: @post, url: users_community_communities_posts_path do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>

		<%= f.text_area :content, class:"form-control", placeholder: "Post content "  %>

	  <%= f.file_field :attachments, multiple: true %>

	  <%= f.hidden_field :community_id, :value => @community.id %>
	    
	  <%= f.submit "Add Post",class: "btn btn-primary" %>
	<%end%>
	</div>
</div>

<p><h3> Posts </h3></p>
<% if !@post.empty? %>
	<table class="table">
		<thead class="thead-dark">
	    <tr>
	      <th scope="col">Posted By</th>
	      <th scope="col">Created On</th>
	      <th scope="col">Title</th>
	      <th scope="col">  Open</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	  <% @post.each do |post| %>
	    <tr>
	      <td><%= User.user_name(post.user_id).map(&:first_name)[0] %></td>
	      <td><%= post.created_at %></td>
	      <td><%= post.title %></td>
	      <td><%= link_to 'Show', users_community_communities_post_path(@community.id, post.id) %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
<%end%>

