<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<%= link_to 'Home', users_dashboards_index_path, class: 'btn btn-primary' %>&nbsp;&nbsp;

	<%= link_to 'Profile', edit_user_registration_path(current_user), class: 'btn btn-primary' %>&nbsp;&nbsp;

 	<%= link_to 'Sign Out', destroy_user_session_path, method: "delete", class: 'btn btn-primary' %>&nbsp;&nbsp;
</nav>


<div class="container">
  <div class="sign_up">
    <p><h3> <%= @post.title %> </h3></p>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @post.attachments.each_with_index do |image, index| %>
        		<% if index==0 %>
    			    <div class="carousel-item active">
    			      <%= image_tag image, class: "d-block w-50" %>
    			    </div>
    			  <% else %>
    			   	<div class="carousel-item">
    			      <%= image_tag image, class: "d-block w-50" %>
    			    </div>
    			  <%end%>
        <%end%>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    	</div>
    </div>

    <p><br><%= @post.content %></br></p>

    <%= form_with(model: @comment, url: users_community_post_comments_path(@post.community_id,@post.id), remote:true) do |f| %>

      <%= f.label :add_comment %>
      <p><%= f.text_area :comment, class:"form-control", placeholder: "write comments here... "  %></p>
      <p><%= f.submit "Add comment",class: "btn btn-success" %></p>

    <%end%>

    <div id = "like-container">
      <%if Like.user_like(current_user , @post.id).present?%>
        <p>like <%= link_to image_tag("after_like.png", :size => "30x30"), users_community_post_likes_path(@post.community_id,@post.id), method: :post, remote:true%>
      <%else%>
        <p>like <%= link_to image_tag("before_like.png", :size => "30x30"), users_community_post_likes_path(@post.community_id,@post.id), method: :post, remote:true%>
      <%end%>
      &nbsp;&nbsp;&nbsp;<%= @post.likes.size %> likes </p>
    </div>

    <div id ="comments-container">
      <%= @comments.size %> comments   <br></br>
      <% if @comments.present? %>
      <%binding.pry%>
        <% @comments.each do |comments| %>
          <%= render partial: 'users/comments/nested', :locals => { comments: comments } %>

          <% @nested_comment = Comment.where(commentable_id: comments.id).order('created_at DESC')%>
            <div class= "padding_left">
              <% @nested_comment.each do |comments|%>
               <%= render partial: 'users/comments/nested', :locals => { comments: comments } %>
              <%end%>
            </div>
        <%end%>

      <% end %>
    </div>
    <div id="add-comments-container">
    </div>
  </div>
</div>




