<nav class="navbar navbar-expand-lg navbar-light bg-light">
<h1>Communities Invitations</h1> &nbsp;&nbsp;

  <%= link_to 'Home', users_dashboards_index_path, class: 'btn btn-primary' %>&nbsp;&nbsp;
 
  <%= link_to 'Profile', edit_user_registration_path(current_user), class: 'btn btn-primary' %>&nbsp;&nbsp;

  <%= link_to 'Sign Out', destroy_user_session_path, method: "delete", class: 'btn btn-primary' %>&nbsp;&nbsp;

</nav>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Community Name</th>
      <th scope="col">Invites on</th>
      <th scope="col">Accept Invitations</th>
      <th scope="col">Decline Invitation</th>

    </tr>
  </thead>
  
  <tbody>
  <% @approvals.each do |approval| %>
    <tr>
      <td><%= Community.community_name(approval.community_id).map{|c| c.name}[0].to_s %></td>
      <td><%= approval.created_at %></td>

      <td><%= link_to 'Accept', accept_users_invitation_path(approval.id), method: :put, class: 'btn btn-success' %></td>

      <td><%= link_to 'Decline', users_invitation_path(approval.id), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>

</table>