<nav class="navbar navbar-expand-lg navbar-light bg-light">
<h1>Communities Invitations</h1> 
  
  <div class = "padding_left">
    <%= link_to 'Home', users_dashboards_index_path, class: 'btn btn-primary' %>
  </div>
  
  <div class = "button_padding_left">
    <%= link_to 'Profile', edit_user_registration_path(current_user), class: 'btn btn-primary' %>
  </div>

  <div class = "button_padding_left">
    <%= link_to 'Sign Out', destroy_user_session_path, method: "delete", class: 'btn btn-primary' %>
  </div>

</nav>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Community Name</th>
      <th scope="col">Invites on</th>
      <th scope="col">Accept Invitations</th>
      <th scope="col">Decline Invitation</th>

    </tr>
  </thead>
  
  <tbody>
  <% @communities.each do |community| %>
    <tr>
      <td><%= community.name %></td>
      <td><%= community.created_at %></td>
      <td><%= link_to 'Accept', accept_users_invitation_path(community.user_approvals.find_by(user_id: current_user).id), method: :put, class: 'btn btn-success' %></td>
      <td><%= link_to 'Decline', decline_users_invitation_path(community.user_approvals.find_by(user_id: current_user).id), remote: true, method: :get, javascript: "void(0)", class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<div id="delete-container">
</div>

<%= will_paginate @communities, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "Previous", next_label: "Next" %>

