<!DOCTYPE html>
<html>
  <head>
    <title>SocialNetworkApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      function showFlashNotifications(flash = {}) {

        if (flash.notice || flash.success) {
          iziToast.success({ position: 'topRight', message: `${flash.notice || flash.success}` });
                        }
        if (flash.error) {

            iziToast.error({ position: 'topRight', message: flash.error, timeout: 0 
          });  
                  }
        if (flash.alert) {
          iziToast.error({ position: 'topRight', message: flash.alert, timeout: 0 });
                  }
        if (flash.info) {
          iziToast.info({ position: 'topRight', message: flash.info });
                 }
      }
    </script>

  </head>

  <body>
    <%= yield %>
    <%= render partial: '/shared/flash_messages' %>
  </body>
</html>
